<?xml version="1.0" encoding="ISO-8859-1"?>

<help-file>
	<title>SPRINGLEAP</title>
	<category type="Skill"/>
<content>
Syntax:         springleap &lt;victim&gt; (while kneeling)
Aggressive:     Yes

Springleap is a bash-like skill with painful consequences. The springleaper 
crouches to his knees and suddenly jumps into his opponent. If successful, 
the opponent will be knocked off balance and fall to the ground for a couple 
of rounds, unable to defend himself. If the springleaper fails, however, he 
will be the one that is knocked to the ground and unable to defend himself!

A monk who has chosen the path of the Dragon Disciple has sharpened many of
his fighting skills, including springleap. The extra abilities include 
performing attacks with hands and feet while knocking down the opponent and
being able to springleap from far away by using the added momentum of back-
flips. 
</content>
	<see-also file="bash"/>
	<see-also file="trip"/>
</help-file>
